div{
    margin-bottom: 10px;
    height: 40px;
}

input{
    width: 502px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

mat-select{
    width: 130px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}