<div  class="principal-div" fxLayoutAlign="center center">
    <form [formGroup]="form"  class="form-signin" (submit)="submit()">
        <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
        <div class="form-floating">
            <input class = "form-control" id="floatingInput" placeholder="Username" type="text" formControlName="userName">
            <label id="floatingInput">UserName</label>
            <div class = "invalid-feedback d-block"></div> 
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="Password"  type="password" formControlName="password">
            <label id="floatingInput">Password</label>
            <div class = "invalid-feedback d-block"></div> 
        </div>
        <div class="text-end mb-2">
        <a [routerLink]="['/login/register']">Criar conta</a>
        </div>
        <div>
        <button *ngIf="!isLoading" class="w-100 btn btn-lg btn-primary" type="submit">LOGIN</button>
        <mat-spinner *ngIf="isLoading" [diameter]="50" class="spinner"></mat-spinner>
        </div>
    </form>
</div>