<div class="user-view">

  <h1 class="m-auto text-center mb-3">CONTATOS</h1>

  <app-search-bar [optionsSearch]="optionsSearch" (searchEvent)="onSearch($event)" (addEvent)="onAdd()"></app-search-bar>
    <div *ngFor="let user of Users" class="card" fxLayout="row"  fxLayoutAlign="space-around center" >
      <div>
        Nome: {{user.name}}
      </div>
      <div>
        Email: {{user.email}}
      </div>
      <div>
        Username: {{user.userName}}
      </div>
      <div>
        Role: {{user.userRole}}
      </div>
      <div>
        <a  mat-icon-button >
          <mat-icon>contacts</mat-icon>
        </a>
        <a  mat-icon-button color="primary"> 
          <mat-icon>edit</mat-icon>
        </a>
        <a  mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </div>
  <app-nav-page></app-nav-page>

</div>