<div [formGroup]="phoneForm" fxLayout="column" fxLayoutAlign="start none" class="phone">

  <div  fxLayout="row" fxLayoutAlign="start center">
    <div class="item label" [fxFlex]="10" >TELEFONE</div>
    <div class="item" [fxFlex]="60" >
        <input class="form-control" placeholder="Telefone" type="text" formControlName="formattedPhone">
        <div class="invalid-feedback d-block"></div>
    </div>

    <mat-select [fxFlex]="20" class="card item" formControlName="phoneTypeId" fxLayoutAlign="start center">
        <mat-option *ngFor="let item of options" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>

    <button class="item" [fxFlex]="10" mat-stroked-button color="warn" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="item label" [fxFlex]="10" >DESCRIÇÃO</div>
    <div class="item" [fxFlex]="90" >
      <input class="form-control" placeholder="Descrição" type="text" formControlName="description">
      <div class="invalid-feedback d-block"></div>
    </div>
  </div>
<div>
