@using Agenda.MVC.Constants
@using Agenda.MVC.ViewModel
@model CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="form-user m-auto">
  <h3 class="text-center">Cadastro de usuario</h3>
    @using(Html.BeginForm("Create", "UserAdmin", FormMethod.Post))
    {
      <div class="form-group">
        <div>
          @Html.LabelFor(x => x.UserRoleId)
          @Html.DropDownListFor(x => x.UserRoleId, Roles.AllRoles, new{@class = "form-select"})
          @Html.ValidationMessageFor(x => x.UserRoleId,"", new{@class = "invalid-feedback d-block"})
        </div>
        @await Html.PartialAsync("_FormsCreateUser", Model)
      </div>
      <div>
        <vc:Summary></vc:Summary>
      </div>
    }
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
