@using Agenda.MVC.ViewModel.User
@model List<InteractionViewModel>

@{
    ViewData["Title"] = "Interactions";
}
<h1 class="m-auto text-center mb-3">Interactions</h1>
<ol class="list-group list-group-numbered m-auto" style="max-width:800px;">
    @foreach(var i in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">@i.InteractionType</div>
            @i.Message
          </div>
        </li>
    }

</ol>
