<h1>Alterar Senha</h1>
<form class="form-group" [formGroup]="form" fxLayout="column" fxLayoutAlign="center none" (submit)="onSubmit()" >
    <label>Senha</label>
    <input type="password" class="form-control" placeholder="Insira a senha" formControlName="password">
    <div class = "invalid-feedback d-block"></div>

    <label>Confirma senha</label>
    <input type="password" class="form-control" placeholder="Insira novamente a senha" formControlName="confirmPassword">
    <div class = "invalid-feedback d-block"></div>

    <div>
        <button type="submit" class="btn btn-primary m-2">Salvar</button>
        <a routerLink="/" class="btn btn-link">cancelar</a>
    </div>
</form>