<h1>Alterar Senha</h1>
<form class="form-group" [formGroup]="form" fxLayout="column" fxLayoutAlign="center none" (submit)="onSubmit()" >

    <app-input-field label="Senha" id="password" type="password" placeholder="Insira a senha" [control]="form.get('password')" [applyCss]="applyCssError('password')" formControlName="password"></app-input-field>

    <app-input-field label="Confirma senha" id="confirmPassword" type="password" placeholder="Insira novamente a senha" [control]="form.get('confirmPassword')" [applyCss]="applyCssError('confirmPassword')" formControlName="confirmPassword"></app-input-field>
    <br>
    <div *ngIf="!isLoading">
        <button id="user-edit-password-save-button" type="submit" class="btn btn-primary m-2" [disabled]="form.invalid">Salvar</button>
        <a id="user-edit-password-cancel-button" routerLink="/" class="btn btn-link">cancelar</a>
    </div>
    <mat-spinner class="spinner" *ngIf="isLoading" [diameter]="40"></mat-spinner>

</form>