<h1>Alterar Senha</h1>
<form class="form-group"  fxLayout="column" fxLayoutAlign="center none"  >
    <label>Senha</label>
    <input type="text" class="form-control" placeholder="Enter name">
    <div class = "invalid-feedback d-block"></div>

    <label>Confirma senha</label>
    <input type="text" class="form-control" placeholder="Enter username">
    <div class = "invalid-feedback d-block"></div>

    <div>
        <button type="submit" class="btn btn-primary m-2">Salvar</button>
        <a routerLink="/" class="btn btn-link">cancelar</a>
    </div>
</form>