@using Agenda.MVC.ViewModel

@model EditContactViewModel

@{
    ViewData["Title"] = "Contatos";
}


<div>
    @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
    {
        @await Html.PartialAsync("_EditContact", Model)
    }
    <div>
       <vc:Summary></vc:Summary>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    
}

