@using Agenda.MVC.ViewModel
@model CreateUserViewModel

@{
    ViewData["Title"] = "Register";
}


<div>
    @using(Html.BeginForm("RegisterUser", "Login", FormMethod.Post))
    {
        @await Html.PartialAsync("_FormsCreateUser", Model)
    }
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
