<h1>{{title}}</h1>
<form class="form-group"  [formGroup]="form" fxLayout="column" fxLayoutAlign="center none"  (submit)="onSubmit()">

    <label>Cargo</label>
    <mat-select fxLayoutAlign="none center" class="card" formControlName="userRoleId">
        <mat-option *ngFor="let item of options" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>

    <app-input-field label="Nome" id="name" type="text" placeholder="Insira o seu nome" [control]="form.get('name')" [applyCss]="applyCssError('name')" formControlName="name"></app-input-field>

    <app-input-field label="UserName" id="userName" type="text" placeholder="Insira o seu userName" [control]="form.get('userName')" [applyCss]="applyCssError('userName')" formControlName="userName"></app-input-field>

    <app-input-field label="Email" id="email" type="email" placeholder="Insira o seu email" [control]="form.get('email')" [applyCss]="applyCssError('email')" formControlName="email"></app-input-field>

    <div *ngIf="id == 0" >
        <app-input-field label="Senha" id="password" type="password" placeholder="Insira o seu senha" [control]="form.get('password')" [applyCss]="applyCssError('password')" formControlName="password"></app-input-field>

        <app-input-field label="Confirmar Senha" id="password" type="password" placeholder="Insira novamente a senha" [control]="form.get('confirmPassword')" [applyCss]="applyCssError('confirmPassword')" formControlName="confirmPassword"></app-input-field>
    </div>
    <br>
    <div class="div-button" *ngIf="!isLoading">
        <button id="user-form-save-button" type="submit" class="btn btn-primary m-2" [disabled]="form.invalid">Salvar</button>
        <a id="user-form-cancel-button" routerLink="/admin/user" class="btn btn-link">cancelar</a>
    </div>
    <mat-spinner class="spinner" *ngIf="isLoading" [diameter]="40"></mat-spinner>
</form>

<app-form-debug></app-form-debug>
  
