<div>
    <div class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
        <div class="form-floating">
            <input class = "form-control" id="floatingInput" placeholder="Username">
            <label id="floatingInput">UserName</label>
            <div class = "invalid-feedback d-block"></div> 
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="Username">
            <label id="floatingInput">Password</label>
            <div class = "invalid-feedback d-block"></div> 
        </div>
        <div class="text-end mb-2">
        <a href="#">Criar conta</a>
        </div>
        <div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">LOGIN</button>
        </div>
    </div>
  </div>